/* Hide Next.js dev indicators */
[data-nextjs-dev-overlay] {
  display: none !important;
}
[data-nextjs-dev-indicator] {
  display: none !important;
}
[data-next-badge] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  display: block;
  background-color: transparent;
}

[disabled] {
  cursor: not-allowed;
}
